.DS_Store
Royalty_Calculator_Project_Outline.txt
royalty-run.xlsx
royalty-run-digital-albums.xlsx
royalty-run-digital-tracks.xlsx
royalty-run-physical.xlsx
Digital_Album_Sales.xlsx
Digital_Sales_Raw.xlsx
Digital_Track_Sales.xlsx
Digital_Tracks_Sales_Processed.xlsx
Physical_Sales.xlsx
Publishers.xlsx
Transactions.xlsx
Publisher_Statements_XLSX/
Publisher_Statements_XLSX_Processed/
__pycache__/